<% if @movie.errors.any? %>

    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>

          <li><%= message %></li>
        <% end %>
      <% if @movie.director.errors.any? %>
        <% @movie.director.errors.full_messages.each do |message| %>
          <li>Director <%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  <% end %>
<form method="POST" action="/movies/<%=@movie.id%>" id="movieform">
  Movie Title</br>  <input type="text" name= "movie[title]", value= "<%= @movie.title %>"></br>
  Year</br> <input type="text" name="movie[year]", value= "<%= @movie.year %>"> </br>
  Director</br> <input type="text" name="movie[director_name]", value= "<%= @movie.director.name %>"></br></br>
  A Quick Thought about this film</br><textarea name="movie[thoughts]" style="width:50%; height: 70px;"> <%= @movie.thoughts %> </textarea><br/><br/>

<input type="submit" value="submit"></br></br>
</form>
