
<% if @movie.errors.any? %>

    <div id="error_explanation">
      <h2>There were some errors:</h2>
      <ul>
        <% @movie.errors.full_messages.each do |message| %>

          <li><%= message %></li>
        <% end %>
      <% if @movie.director.errors.any? %>
        <% @movie.director.errors.full_messages.each do |message| %>
          <li>Director <%= message %></li>
        <% end %>
      </ul>
      <% end %>
    </div>
  <% end %>
<form method="POST" action="/movies">


    Movie Title</br>  <input type="text" name="title", value= <%= @movie.title %>></br>



    Year</br> <input type="text" name="year", value= <%= @movie.year %>> </br>



    Director</br> <input type="text" name="director_name", value= <%= @movie.director.name %> ></br></br>


  <input type="submit" value="submit"></br></br>

</form>
